---
interface Props {
	title: string;
  url: string;
	 }
  
  const { title, url } = Astro.props;
---
  
<a href={url} download>
  <img src={title} class="thumbnail" alt="" />
</a>

<style>
.thumbnail {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

</style>	   
