
       <div class="home-container1">
        <span class="home-text">Property of Tamil People</span>
        <img
          src="/favicon.svg"
          alt="image"
          class="home-image"
        />
        <span class="home-text1">Please do not watermark the images.</span>
      </div>
    
  <style scoped>
  
  .home-container1 {
    flex: 0 0 auto;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text {
    margin-right: var(--dl-space-space-twounits);
    font-size: 18px;
    font-weight: 500;
  }
  .home-image {
    width: auto;
    object-fit: cover;
  }
  .home-text1 {
    margin-left: var(--dl-space-space-twounits);
    font-size: 18px;
    font-weight: 500;
  }
  @media(max-width: 767px) {
    .home-text {
      text-align: center;
      margin-left: var(--dl-space-space-unit);
      margin-right: var(--dl-space-space-unit);
    }
    .home-text1 {
      text-align: center;
      margin-left: var(--dl-space-space-unit);
      margin-right: var(--dl-space-space-unit);
    }
  }
  @media(max-width: 479px) {
    .home-text {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-unit);
    }
    .home-text1 {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: var(--dl-space-space-unit);
    }
  }
  </style>
  