    <header data-role="Header" class="home-header">
        <div class="home-container1">
          <img
            alt="logo"
            src="/favicon.svg"
            class="home-image"
          />
          <span class="home-text">THALAIVAR IMAGES</span>
        </div>
      </header>
   
   
  <style>
   .home-header {
    width: 90%;
    height: 50px;
    display: flex;
    padding: var(--dl-space-space-twounits);
    max-width: 90%;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
  }
  .home-container1 {
    flex: 0 0 auto;
    width: auto;
    height: 100px;
    display: flex;
    padding-left: 20px;
    align-items: center;
  }
  .home-image {
    height: 2rem;
  }
  .home-text {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 20px;
  }
  @media(max-width: 767px) {
    .home-header {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
  }
  @media(max-width: 479px) {
    .home-header {
      padding: var(--dl-space-space-unit);
    }
  }
  </style>
  